<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWcfChatSevice">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IWcfChatSevice" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8080/WcfChatService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWcfChatSevice" contract="WcfChatServiceReference.IWcfChatSevice"
                name="NetTcpBinding_IWcfChatSevice">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfChat/Service1/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IWcfChatSevice"
                contract="WcfChatServiceReference.IWcfChatSevice" name="WSDualHttpBinding_IWcfChatSevice">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>